*{
	font-family: 'roboto','sans-sarif';
	margin : 0 10px ;
	background-color: #0accf9;
}
tbody{
   color: aliceblue ;
   background-color: beige;
   align-items: baseline;
   
}
table{
    align-items: center;
}
.image-phone{
    border: 3em;
    height: 150px;
    width: 150px;
}